.recipeListContainer {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.listTitle {
    text-align: center;
    color: var(--color-primary-red); 
    font-family: var(--font-logo);
    font-size: 2.5em;
    margin-bottom: 30px;
    border-bottom: 3px solid var(--color-secondary-green);
    padding-bottom: 10px;
}

.cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.noRecipes {
    text-align: center;
    font-size: 1.5em;
    color: #888;
    margin-top: 50px;
}